<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Quiz</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h3>Autor de la práctica: <%= nombre%></h3>
<p>
	<img src='<%= url_image%>' widht='200px' height='200px' alt='<%= nombre%>'></img>
</p>	
</body>
</html>